body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1920px;
}

header {
  position: relative;
}

footer {
  background-color: #d9eada;
  text-align: center;
}

.header-background {
  background-image: url('images/header1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  height: 80px; 
  position: relative;
  top: 10px;
}

#headNavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#siteNavi {
  display: flex;
  font-size: 93%;
  line-height: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 0 0 500px;
}

#socialNavi {
  display: flex;
  margin: 0 40px 0 0;
  padding: 0;
  list-style-type: none;
}

.header-content {
  margin: 0 30px; /* マージンを減らしてコンパクトに */
}

.header-content img {
  height: 30px; /* 必要に応じてサイズを調整 */
}


.css-carousel-slider3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
}
.css-carousel-slider3 img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider3 .slide-wrap {
  width: 300%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  animation: css-carousel-slider3 15s infinite;
  animation-delay: 2s;
}
.css-carousel-slider3 .slide-wrap-main {
  width: 100%;
  z-index: 1;
  animation: css-carousel-slider-main3 15s infinite;
  animation-delay: 2s;
}
.css-carousel-slider3 .slide {
  width: 100%;
}

#logo3 {
  height: 0px;
  text-align: center;
}

#logo3 > img {
  position: relative;
  top: -310px;
}

#sponsor {
  height: 0px;
  text-align: right;
  margin: 0 15px;
}

#sponsor > p {
  color: white;
  text-align: right;
  position: relative;
  top: -60px;

}

/* スライダーアニメーションの設定 */
@keyframes css-carousel-slider3 {
  0% { transform: translateX(0); }

  27.3% { transform: translateX(calc(1 / 3 * -100%)); }
  33.3% { transform: translateX(calc(1 / 3 * -100%)); }

  60.6% { transform: translateX(calc(2 / 3 * -100%)); }
  66.6% { transform: translateX(calc(2 / 3 * -100%)); }

  94% { transform: translateX(calc(3 / 3 * -100%)); }
  100% { transform: translateX(calc(3 / 3 * -100%)); }
}

@keyframes css-carousel-slider-main3 {
  0% { transform: translateX(100%); }
  66.6% { transform: translateX(100%); }
  94% { transform: translateX(0%);}
}

article {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  flex-wrap: wrap;
}

.info {
  flex-direction: row;
  display: flex;
  justify-content: center; /* Ensure items are centered */
  margin: 80px;
  width: 100%;
}

.info-event {
  word-wrap: break-word;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url(images/green-back.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain; 
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 横方向の中央揃え */
}

.info-content {
  max-width: 100%;
  position: relative;
  top: -70px;
}

.info-title1{
  font-size: 50px;
  position: relative;
  font-weight: bold;
  top: -5px;
}

.info-title-decoration1 {
  color: #f8b500;
}

.info-title-decoration2 {
  color: #0030ff;
}

.event-page p {
  width: 320px;
}


#walk-info {
  width: 100%;
  background-color: #eff5dc;
  margin: 0px auto;
}

#SNS-guide {
  display: flex;
  justify-content: center;  /* 横方向の中央揃え */
  align-items: center;
  width: 100%;
}

#SNS-content1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.SNS-content2 {
  background-image: url(images/white-back.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain; 
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;  /* 横方向の中央揃え */
  text-align: center;
  margin: 0 50px;
}

.walk-info-content {
  text-align: center;
  margin: 70px auto;
  width: 700px;
}

.info-post {
  display: flex;
  justify-content: left;
  border-top: 1px solid #dddbd4;
  border-bottom: 1px solid #dddbd4;
}

em {
  font-weight: bold;
  font-style: normal;
}

.info-post-content {
  font-size: 150%;
}

.walk-info-content > section {
  text-align: left;
}

footer > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-li1 {
  position: relative;
  left: 30px;
  margin: 40px 120px;
}

.footer-content1 {
  font-size: 24px;
}

.footer-li2 {
  position: relative;
  right: 15px;
  margin: 40px 60px;
}

footer > img {
  width: 200px;
  height: 80px;
  margin: 40px auto;
  padding: 0;
}